name: request update

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'version updating to'
        required: true
        type: string

jobs:
  dispatch-update:
    runs-on: ubuntu-latest
    steps:
      - name: dispatch update
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.SERVER_ACCESS_TOKEN }}
          repository: jwilliams-gh-sandbox/cross-repo-update-dispatch-server@main
          event-type: perform-update
          client-payload: '{"version": "${{ github.event.inputs.version }}"}'